@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000000; }

h1 {
  position: relative;
  font-family: 'Emilea';
  font-size: 50px;
  font-weight: normal;
  text-align: left;
  color: #000000;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px; }

h2 {
  font-size: 5px;
  font-weight: lighter;
  opacity: 80%; }

p {
  padding-top: 10px;
  animation: myAnim 2s ease 0s 1 normal forwards; }

p:hover {
  transform: scale(1.1); }

h5 {
  font-weight: lighter;
  padding-top: 20px;
  font-size: 50px; }

.navbar .burger-txt {
  font-family: 'Emilea';
  font-weight: bold; }
  .navbar .burger-txt .rotate {
    animation: rotate 3s infinite linear; }

.navbar .burger-txt-sls {
  font-family: 'Emiliea';
  font-weight: lighter;
  font-size: 15px; }
  .navbar .burger-txt-sls .nav-item {
    margin-left: 20px;
    margin-right: 20px; }

.navbar .burger-icons {
  opacity: 40%;
  padding-right: 20px; }

.contenedor-home-txt {
  animation: myAnim 2s ease 0s 1 normal forwards;
  font-size: 50px;
  text-align: center;
  padding-top: 370px;
  margin-bottom: 367px; }

.imgs-home-1,
.imgs-home-2,
.imgs-home-3,
.imgs-home-4,
.imgs-home-5,
.imgs-home-6,
.imgs-home-7,
.imgs-home-8,
.imgs-home-9,
.imgs-home-10,
.imgs-home-11,
.imgs-home-12,
.imgs-home-13,
.imgs-home-14,
.imgs-home-15 {
  position: fixed;
  z-index: 9999;
  max-width: 223px;
  animation: myAnim 3s ease 0s 1 normal forwards; }

.imgs-home-1 {
  bottom: 632px;
  right: -35px; }

.imgs-home-2 {
  bottom: -5px;
  right: 400px; }

.imgs-home-3 {
  bottom: 138px;
  right: 1272px; }

.imgs-home-4 {
  bottom: 608px;
  right: 1400px; }

.imgs-home-5 {
  bottom: 80px;
  right: 872px; }

.imgs-home-6 {
  bottom: 650px;
  right: 800px; }

.imgs-home-7 {
  bottom: 563px;
  right: 472px; }

.imgs-home-8 {
  bottom: 611px;
  right: 901px; }

.imgs-home-9 {
  bottom: 108px;
  right: 650px; }

.imgs-home-10 {
  bottom: 302px;
  right: 142px; }

.imgs-home-11 {
  bottom: 494px;
  right: 262px; }

.imgs-home-12 {
  bottom: 418px;
  right: 1649px; }

.imgs-home-13 {
  bottom: 650px;
  right: 1214px; }

.imgs-home-14 {
  bottom: 74px;
  right: 1592px; }

.imgs-home-15 {
  bottom: 321px;
  right: 1467px; }

.meme {
  position: fixed;
  z-index: 4000;
  height: 300px;
  width: 60px;
  bottom: 360px;
  left: 2000px;
  /* Animacion */
  animation-name: slide;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 9999; }

.imgs-contact-7 {
  position: absolute;
  bottom: 0px;
  right: 1350px;
  z-index: -1;
  max-width: 450px; }

.imgs-contact-8 {
  position: absolute;
  bottom: -800px;
  right: 1100px;
  z-index: -1;
  max-width: 300px; }

.imgs-contact-9 {
  position: absolute;
  bottom: 400px;
  right: 200px;
  z-index: -1;
  max-width: 444px; }

.imgs-contact-8 {
  z-index: 9999;
  animation: myAnim 3s ease 0s 1 normal forwards; }

.imgs-contact-7,
.imgs-contact-9 {
  z-index: -1;
  animation: myAnim 3s ease 0s 1 normal forwards; }

.texto-inicial-general {
  grid-area: texto-inicial-general;
  font-family: 'Emilea';
  font-weight: lighter;
  font-size: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
  /* padding-left: 50px; */
  animation: myAnim 2s ease 0s 1 normal forwards; }
  .texto-inicial-general .contenedor-home-txt-about {
    animation: myAnim 2s ease 0s 1 normal forwards;
    font-size: 80px;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 200px; }

.contenedor-arrow {
  overflow: hidden; }
  .contenedor-arrow .arrow-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    max-width: 100%;
    animation: palpitar 0.7s ease-in-out infinite alternate;
    margin: 50px; }

.AboutFlex {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 250px;
  margin-bottom: 100px;
  font-family: 'Emilea';
  animation: myAnim 2s ease 0s 1 normal forwards; }
  .AboutFlex .QuestionsFlex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
    transition: transform 0.5s ease; }
    .AboutFlex .QuestionsFlex:hover {
      transform: scale(1.02); }
    .AboutFlex .QuestionsFlex .AnswersFlex {
      margin-left: 700px;
      text-align: justify;
      font-size: 20px;
      font-weight: lighter;
      color: black;
      text-decoration: none; }
      .AboutFlex .QuestionsFlex .AnswersFlex .bootstrap-foot {
        color: black;
        text-decoration: none; }

#contacto {
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
  width: 70px;
  height: 70px;
  animation: palpitar 0.7s ease-in-out infinite alternate; }

* {
  margin: 0;
  padding: 0;
  color: black; }

/* font-family: 'Cormorant Garamond',
serif;
font-family: 'Open Sans',
sans-serif; */
.FlexHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 200px; }

.FlexNombre {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.Sections {
  font-family: 'Open Sans';
  font-weight: bolder;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px; }

.FlexIndexPadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 69px;
  margin-bottom: 89px; }

.FlexIndexHijo {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  align-items: center; }

.FlexPadre {
  display: flex;
  flex-direction: column;
  margin-top: 23px; }

.FlexHijo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px; }

.FlexRedes {
  display: flex;
  flex-direction: row; }

h1 {
  font-family: 'Cormorant Garamond';
  font-size: 100px;
  font-weight: lighter;
  margin-left: 30px; }

h2 {
  font-family: 'Cormorant Garamond';
  font-size: 50px;
  font-weight: lighter;
  margin-right: 30px; }

h3 {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bolder;
  margin-left: 30px; }

.p {
  font-family: 'Open Sans';
  font-size: 30px;
  font-weight: light; }

.Lenguaje {
  font-family: 'Open Sans';
  font-weight: lighter;
  font-size: 30px;
  font-style: italic; }

.box {
  opacity: 0;
  position: absolute; }

.b1 {
  animation: ani1 7s infinite; }

.b2 {
  animation: ani2 7s infinite; }

.b3 {
  animation: ani3 7s infinite; }

.b4 {
  animation: ani4 7s infinite; }

.b5 {
  animation: ani5 7s infinite; }

@keyframes ani1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 10; }
  20% {
    opacity: 0; } }

@keyframes ani2 {
  20% {
    opacity: 0; }
  30% {
    opacity: 10; }
  40% {
    opacity: 0; } }

@keyframes ani3 {
  40% {
    opacity: 0; }
  50% {
    opacity: 10; }
  60% {
    opacity: 0; } }

@keyframes ani4 {
  60% {
    opacity: 0; }
  70% {
    opacity: 10; }
  80% {
    opacity: 0; } }

@keyframes ani5 {
  80% {
    opacity: 0; }
  90% {
    opacity: 10; }
  100% {
    opacity: 0; } }

.LineadeTexto {
  border: none;
  border-bottom: 1px solid black;
  font-size: 50px;
  font-family: 'Open Sans';
  font-weight: lighter;
  outline: none;
  width: 96%;
  height: 100px;
  background-color: transparent;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 122px; }

.BotonEnviar {
  background-color: black;
  color: white;
  font-family: 'Cormorant Garamond';
  font-weight: lighter;
  font-size: 30px;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  margin-left: 30px;
  border-radius: 100px;
  border-width: 1px;
  transform: scale(1); }

.BotonEnviar:hover {
  transform: scale(0.7);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.1, 1);
  cursor: pointer; }

.LinkRedesSociales {
  text-decoration: none;
  font-family: 'Cormorant Garamond';
  color: black;
  margin-left: 30px; }

h4 {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: lighter; }

.FooterNegrita {
  font-weight: bolder; }

h5 {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: bolder;
  margin-right: 30px; }

.FlexFooter {
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

.FlexFooter1 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.FlexFooter2 {
  display: flex;
  flex-direction: row-reverse; }

.LinkCookies {
  text-decoration: none;
  font-family: 'Cormorant Garamond';
  color: black;
  margin-top: 20px;
  margin-bottom: 20px; }

.LinkVolverArriba {
  font-family: 'Open Sans';
  font-weight: bolder;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px; }

.HR {
  border-color: black;
  margin-left: 30px;
  margin-right: 30px; }

.ImgContenedorAcordeon {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.ImgAcordeon {
  max-height: 500px; }

.accordion-h2 {
  margin-top: -50px;
  margin-bottom: -50px;
  color: black; }

.grid-contacto {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "formulario"; }
  .grid-contacto .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Emilea';
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    animation: myAnim 2s ease 0s 1 normal forwards;
    margin-bottom: 354px; }
    .grid-contacto .formulario .h1-contacto {
      position: relative;
      font-family: 'Emilea';
      font-size: 100px;
      font-weight: normal;
      text-align: justify;
      color: #000000;
      margin-top: 350px;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 0px;
      animation: myAnim 2s ease 0s 1 normal forwards; }
    .grid-contacto .formulario .p {
      padding-top: 10px;
      transition: transform 0.5s ease; }
      .grid-contacto .formulario .p:hover {
        transform: scale(1.1); }
      .grid-contacto .formulario .p .bootstrap-foot {
        color: #000000;
        text-decoration: none; }

.imgs-contact-1 {
  position: fixed;
  bottom: 108px;
  right: 472px;
  z-index: 9999;
  max-width: 223px; }

.imgs-contact-2 {
  position: fixed;
  bottom: 200px;
  right: 1580px;
  z-index: 9999;
  max-width: 500px; }

.imgs-contact-3 {
  position: fixed;
  bottom: 150px;
  right: 1183px;
  z-index: 9999;
  max-width: 200px; }

.imgs-contact-4 {
  position: fixed;
  bottom: 669px;
  right: 1056px;
  z-index: 9999;
  max-width: 396px; }

.imgs-contact-5 {
  position: fixed;
  bottom: 200px;
  right: 0px;
  z-index: 9999;
  max-width: 300px; }

.imgs-contact-6 {
  position: absolute;
  bottom: 600px;
  right: 200px;
  z-index: -1;
  max-width: 444px; }

/* Animations */
.imgs-contact-1,
.imgs-contact-2,
.imgs-contact-3,
.imgs-contact-4,
.imgs-contact-5 {
  z-index: 9999;
  animation: myAnim 3s ease 0s 1 normal forwards; }

.imgs-contact-6 {
  z-index: -1;
  animation: myAnim 3s ease 0s 1 normal forwards; }

.wrapper {
  height: 86vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  margin-bottom: -9px;
  animation: myAnim 2s ease 0s 1 normal forwards; }
  .wrapper .typing-demo {
    width: 20ch;
    animation: typing 3s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Emilea';
    font-size: 5em;
    font-weight: 500; }
    .wrapper .typing-demo .cara-triste:hover::before {
      content: "😭"; }

.UlFooterMasterFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 20px; }
  .UlFooterMasterFlex .UlFooterFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .UlFooterMasterFlex .UlFooterFlex .UlFooter3 {
      font-family: 'Emilea';
      list-style: none;
      font-size: small;
      margin-top: 20px;
      margin-bottom: 20px;
      animation: myAnim 2s ease 0s 1 normal forwards; }
      .UlFooterMasterFlex .UlFooterFlex .UlFooter3 .NegritaFooter {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder; }
  .UlFooterMasterFlex .UlFooterFlex2 {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .UlFooterMasterFlex .UlFooterFlex2 .UlFooter2 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-family: 'Emilea';
      list-style: none;
      font-size: small;
      margin-top: 20px;
      margin-bottom: 20px;
      animation: myAnim 2s ease 0s 1 normal forwards; }
      .UlFooterMasterFlex .UlFooterFlex2 .UlFooter2 .NegritaFooter {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder; }
  .UlFooterMasterFlex .UlFooterFlex3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .UlFooterMasterFlex .UlFooterFlex3 .UlFooter2 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-family: 'Emilea';
      list-style: none;
      font-size: small;
      margin-top: 20px;
      margin-bottom: 20px;
      animation: myAnim 2s ease 0s 1 normal forwards; }
      .UlFooterMasterFlex .UlFooterFlex3 .UlFooter2 .NegritaFooter {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        text-decoration: underline; }

@keyframes myAnim {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

@keyframes palpitar {
  /* Establecemos los valores de escala para la animación */
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }

@keyframes slide {
  to {
    left: calc(100% - 50px); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
