.wrapper {
    height: 86vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    margin-bottom: -9px;

    .typing-demo {
        width: 20ch;
        animation: typing 3s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: 'Emilea';
        font-size: 3em;
        font-weight: 500;

        .cara-triste:hover::before {
            content: "😭";
        }
    }
}