@keyframes myAnim {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes palpitar {

    /* Establecemos los valores de escala para la animación */
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes slide {
    to {
        left: calc(100% - 50px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}